<div class="container">

  <h1>Angular Task Manager</h1>

  <input
    type="text"
    [(ngModel)]="taskName"
    placeholder="Enter Task"
  >

  <!-- ADD BUTTON -->

  <button
    *ngIf="!isEdit"
    (click)="addTask()"
  >
    Add Task
  </button>

  <!-- UPDATE BUTTON -->

  <button
    *ngIf="isEdit"
    (click)="updateTask()"
  >
    Update Task
  </button>

  <hr>

  <!-- TASK LIST -->

  <div
    class="task-card"
    *ngFor="let task of tasks"
  >

    <h3>
      {{task.title}}
    </h3>

    <p>
      Status :
      {{task.completed ? 'Completed' : 'Pending'}}
    </p>

    <!-- COMPLETE -->

    <button (click)="completeTask(task)">
      Complete
    </button>

    <!-- EDIT -->

    <button (click)="editTask(task)">
      Edit
    </button>

    <!-- DELETE -->

    <button (click)="deleteTask(task.id)">
      Delete
    </button>

  </div>

</div>